.formulario{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin: 2rem;
}
.formulario form{
    flex: 1;
    background: #F7F7F7;
    padding: 2rem 3rem;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
}
.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .formulario{
        margin: 1rem;
        gap: 1rem;
        flex-direction: column;
    }
    .formulario form{
        padding: 1rem;
    }
    .formulario h2{
        font-size: 1.5rem;
    }
}