.equipo{
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.equipo h3{
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: .5rem;
}
.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.input-color{
    position: absolute;
    top: 3rem;
    right: 3rem;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
    .equipo{
        padding: 1rem;
    }
    .equipo h3{
        font-size: 1.5rem;
    }
    .input-color{
        top: 1rem;
        right: 1rem;
    }
}