.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .footer{
        padding: .5rem;
        font-size: 1rem;
    }
    .redes img{
        padding: 0px .5rem;
    }
}